{% include 'header.html.twig' %}
<head>
    
    <link rel="stylesheet" type="text/css" href="style1.css">
    </head>
   
    <div id="pageContainer">
        
    <h1 class="h1">{{pageTitle}}</h1>
    {# jeśli użytkownik jest zalogowany to pokaż #}
    {% if user is defined %}
    <div id="loggedUser" class="div">Zalogowany użytkownik: {{ user.getName() }} </div>
    {% endif %}
    {% for post in postArray %}
    <div id="post" class="div#post">
        <h2> Tytuł obrazka: {{ post.getTytul1() }} </h2>
        <img src="{{ post.getFilename() }}">
        <h6>Punkty: {{post.getScore() }}</h6>
        <h6>Autor: {{post.getAuthorName() }}</h6>
        <h6>Data dodania: {{ post.getTimestamp() }} </h6>
        
      


        </div>
    {% endfor %}
</div>


{% include 'footer.html.twig' %}